* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.game {
    height: 100vh;
    /* height: 100%;
    width: 100%; */
    background: rgba(157, 216, 200, 1);
    /* font-family: 'Alata', sans-serif; */
    font-family: 'Fredoka One', cursive;
    /* font-family: 'Baloo Bhai', cursive; */
    /* font-family: 'Luckiest Guy', cursive; */
}

.intro {
    /* height: 100%;
    width: 100%; */
    text-align: center;
}
.intro-title{
    font-size: 50px;
    color: rgba(63, 62, 62, 1);
    padding-top: 150px;
    padding-bottom: 200px;
}
.start-btn, .options button{
    font-family: 'Fredoka One', cursive;
    width: 240px;
    height: 65px;
    background: none;
    border: none;
    color: rgba(63, 62, 62, 1);
    font-size: 40px;
    background: rgb(45, 117, 96);
    border-radius: 24px;
    cursor: pointer;   
}

.match {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    transition: opacity 0.5s ease 0.5s;
}
.player-label, .computer-label{
    
    font-size: 50px;
    /* display: flex;
    justify-content: space-around; */
}
.winner {
    color: rgba(63, 62, 62, 1);
    text-align: center;
    font-size: 50px;
    padding-bottom: 50px;
}

.options {
    display: flex;
    flex-direction: column;
    padding-top: 50px;
    
    /* justify-content: space-between;
    align-items: space-between */
}
.rock, .paper, .scissors {
    margin-bottom: 10px;
}
.score {
    color: rgba(63, 62, 62, 1);
    display: flex;
    flex-direction: row;
    padding-top: 50px;
    font-size: 30px;
    text-align: center;  
}
.computer-score { 
    margin-left: 30px;
}

.hands {
    display: flex;
    flex-direction: row;
    justify-items: center;
    align-items: center;
}

.player-hand {
    margin-right: 50px;
    height: 50%;
    width: 50%;
    transform: rotate(90deg);
}
.computer-hand {
    height: 50%;
    width: 50%;
    transform: rotate(90deg);
    transform: matrix(0, 1, 1, 0, 0, 0);
}


.player-end {
    margin-right: 50px;
    height: 50%;
    width: 40%;
}

.computer-end{
    height: 50%;
    width: 40%;
}

div.fadeOut {
    opacity: 0;
    pointer-events: none;
    transition: 0.5s opacity;
}

div.fadeIn {
    opacity: 1;
    pointer-events: all;
}


@keyframes shakePlayer {
    0%{
        transform: rotate(90deg) translateX(0px);
    }
    15%{
        transform: rotate(90deg) translateX(-50px);
    }
    25%{
        transform: rotate(90deg) translateX(0px);
    }
    35%{
        transform: rotate(90deg) translateX(-50px);
    }
    50%{
        transform: rotate(90deg) translateX(0px);
    }
    75%{
        transform: rotate(90deg) translateX(-50px);
    }
    100%{
        transform: translateX(0px);
    }
    

    
}

@keyframes shakeComputer {
    0%{
        transform: matrix(0, 1, 1, 0, 0, 0) translateX(0px);
    }
    15%{
        transform: matrix(0, 1, 1, 0, 0, 0) translateX(-50px);
    }
    25%{
        transform: matrix(0, 1, 1, 0, 0, 0) translateX(0px);
    }
    35%{
        transform: matrix(0, 1, 1, 0, 0, 0) translateX(-50px);
    }
    50%{
        transform: matrix(0, 1, 1, 0, 0, 0) translateX(0px);
    }
    75%{
        transform: matrix(0, 1, 1, 0, 0, 0) translateX(-50px);
    }
    100%{
        transform: translateX(0px);
    }
}